body{
font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;font-size: 0.9em;color:#000;
}
#logo {
margin-top: 22px;
margin-bottom: 20px;
}
a {
text-decoration: none;
margin-left:8px;
font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;font-size: 1.1em;color:#FFF;
}
#darkblueline {
position:absolute;
left:0px;
top:183px;
background-color:#1d82b5;
width:100%;
height:4px;
z-index: -1;
}
#darkblueline_two {
position:absolute;
left:0px;
top:956px;
background-color:#1d82b5;
width:100%;
height:4px;
z-index: -1;
}
div#blue_line {
position:relative;
top:190px;
background-color:#54b5e6;
height:4px;
z-index: 400;
width:920px;

display: block;
margin-left: auto;
margin-right: auto
}
div#blue_two {
position:relative;
top:959px;
background-color:#54b5e6;
height:4px;
z-index: 400;
width:920px;

display: block;
margin-left: auto;
margin-right: auto
}
div#blue_twoss {
position:relative;
top:1370px;
background-color:#54b5e6;
height:4px;
z-index: 400;
width:920px;

display: block;
margin-left: auto;
margin-right: auto
}
#bro_darkblueline_two {
position:absolute;
left:0px;
top:877px;
background-color:#1d82b5;
width:100%;
height:4px;
z-index: -1;
}
#darkblueline_twoss {
position:absolute;
left:0px;
top:1367px;
background-color:#1d82b5;
width:100%;
height:4px;
z-index: -1;
}
div#bro_blue_two {
position:relative;
top:880px;
background-color:#54b5e6;
height:4px;
z-index: 400;
width:920px;

display: block;
margin-left: auto;
margin-right: auto
}

div#finefine{
margin-left: 15px;
font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;font-size: 1.8em;color:#1F8DC5;
}
div#linkbar {
background-color:#404040;
padding-top: 9px;
margin-bottom: 0px;
margin-top: 0px;
height: 30px;
}
#blue_box {
height:328px;
background-color:#1F8DC5;
margin-top: 11px;
padding-top: 24px;
padding-bottom: 28px;
padding-left: 63px;
padding-right: 38px;
}
div#move_lots{
margin-left: 80px;
}
input {
border: 2px solid #54B5E6;
background: #F0F0F0;
height:28px;
font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;font-size: 1.2em;color:#1F8DC5;
padding-left: 6px;
padding-right:10px;
}
label{
font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;font-size: 1.0em;color:#000;
}
textarea{
border: 2px solid #54B5E6;
background: #F0F0F0;
font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;font-size: 1.2em;color:#1F8DC5;
resize: none;
padding-left: 6px;
padding-right:14px;
}
#contactmargin {
margin-top: 8px;
margin-left: -12px;
}
#fltleft {
float: left;
}
#fltright {
float: right;
}
#btm_width {
margin-left: 37px;
margin-right: 37px;
}
hr {
background-color:#C7C7C7;
border:0;
height:1px;
}
#floatleft {
margin-top: 9px;
font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;font-size: 0.9em;color:#000;
float: left;
margin-left: 80px;
}
a#beblack{
text-decoration: none;
font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;font-size: 1.0em;color:#000;
border: 0px;
}
#floatright {
margin-top: 9px;
font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;font-size: 0.9em;color:#000;
float: right;
margin-right: 90px;
}
li.headlink ul { 
display: none;
}
li.headlink:hover ul { 
display: block;


}
#cssdropdown ul {
	
	padding:0;
	margin:0;
	
}
#cssdropdown li {
	float:left;
	height:20px;
	

	list-style: none;
}
div#text_left {
	margin-left: 20px;
}
div.leftme {
	padding-left: 92px;
}
#attorney_contactInfo{
	font: helvetica;
	font-size: 1.01em;
	position: absolute;
	margin-top: 380px;
	margin-left: 100px;
}