#logo {
margin-top: 22px;
margin-bottom: 20px;
}
a {
text-decoration: none;
margin-left:8px;
font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;font-size: 0.9em;color:#FFF;
}
#darkblueline {
position:absolute;
left:0px;
top:153px;
background-color:#1d82b5;
width:100%;
height:4px;
z-index: -1;
}
#darkblueline_two {
position:absolute;
left:0px;
top:786px;
background-color:#1d82b5;
width:100%;
height:4px;
z-index: -1;
}
div#blue_line {
position:relative;
top:160px;
background-color:#54b5e6;
height:4px;
z-index: 400;
width:760px;

display: block;
margin-left: auto;
margin-right: auto
}
div#blue_two {
position:relative;
top:789px;
background-color:#54b5e6;
height:4px;
z-index: 400;
width:760px;

display: block;
margin-left: auto;
margin-right: auto
}
#bro_darkblueline_two {
position:absolute;
left:0px;
top:727px;
background-color:#1d82b5;
width:100%;
height:4px;
z-index: -1;
}
div#bro_blue_two {
position:relative;
top:730px;
background-color:#54b5e6;
height:4px;
z-index: 400;
width:760px;

display: block;
margin-left: auto;
margin-right: auto
}
h1{

font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;font-size: 1.49em;color:#1F8DC5;
}
div#linkbar {
background-color:#404040;
padding-top: 2px;
margin-bottom: 0px;
margin-top: 0px;
height: 24px;
}
#blue_box {
height:262px;
background-color:#1F8DC5;
margin-top: 11px;
padding-top: 28px;
padding-bottom: 28px;
padding-left: 42px;
padding-right: 35px;
}
#contactmargin {
margin-top: 8px;
}
#fltleft {
float: left;
}
#fltright {
float: right;
}

#btm_width {
margin-left: 37px;
margin-right: 37px;
}
hr {
background-color:#C7C7C7;
border:0;
height:1px;
}
#floatleft {
margin-top: 9px;
font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;font-size: 0.9em;color:#000;
float: left;
}
a#beblack{
text-decoration: none;
font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;font-size: 1.0em;color:#000;
border: 0px;
}
#floatright {
margin-top: 9px;
font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;font-size: 0.9em;color:#000;
float: right;
}
li.headlink ul { 
display: none;
}
li.headlink:hover ul { 
display: block;


}
#cssdropdown ul {
	
	padding:0;
	margin:0;
	
}
#cssdropdown li {
	float:left;
	height:20px;
	

	list-style: none;
}